.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: auto;
}

.padding-left {
    padding-left: 20px;
}

.padding-top {
    padding-top: 50px;
}

#drop-zone {
    border: '2px dashed #ccc';
    padding: '20px';
}